body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* header */
.h{
    display: flex;
    height: 57px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
#icon-img{
    width: 108px;
    margin-top: 18px;
    margin-left: 80px;
}
ul ,li{
    padding-left: 14px;
    display: flex;
    padding: 10px;
    margin-top: -1px;
}
.nav{
    height: 56px;
    margin-left: 15px;
}
.a-tag-nav{
    font-size: 13px;
    color: rgb(17, 16, 16);
    text-decoration: none;
}
.a-tag-nav:hover{
    text-decoration: underline;
}
.right-nav{
    width: 660px;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(255, 255, 255);
}
.caption-right{
    font-size: 13px;
    color: rgb(17, 16, 16);
    text-decoration: none;
    display: flex;
    margin-top: 15px;
}
.caption-right:hover{
    text-decoration: underline;
}
.icon-size-serch{
    width: 18px;
    height: 19px;
    margin-top: 16px;
}
.icon-size-cart{    
    width: 18px;
    height: 18px;
    margin-top: 15px;
}
.icon-size-profile{
    width: 35px;
    height: 35px;
    margin-top: 9px;
}
.div-right-icon{
    width: 37px;
}
.div-right-icon-caption{
    display: flex;
    width: 110px;
}

/* section */

.full-img{
    display: flex;
    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-M365-Icon-Bounce-Word-Merch:VP4-1399x600);
    width: 100%;
    height: 580px;
}
.texts{
    margin-top: 240px;
    width: 400px;
    height: 240px;
    /* background-color: aqua; */
    margin-left: 100px;
}
.micro-text{
    font-size: 1.8125rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
}
.fff{
    display: flex;
}
.text-one-person{
    border: none;
    background-color: #0067b8;
    color: #fff!important;
    font-family: inherit;
    font-weight: 700;
    padding: 10px;
}
.text-one-person:hover{
    background-color: #0e7ace;

}
.a-tag-for-up{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding-left: 30px;
}
.a-tag-for-up:hover{
    text-decoration: underline;
}
.a-tag-for-up-div{
    display: flex;
    /* margin-top: 8px; */
}
.down-arow{
    width: 10px;
    padding-top: 22px;
    padding-left: 5px;
}
.img-next-arrow{
    padding: 7px;
    width: 12px;
    margin-top: 8px;
}
.parant-arrow{
    margin-left: 618px;
    display: flex;
    /* align-items: center; */

}
.arrow{
    margin-top: 25px;
    width: 17px;
    height: 17px;
}
.parant-ittems{
    width: 850px;
    margin-left: 245px;
    display: flex;
    height: 100px;
    /* background-color: rgb(255, 255, 255); */
}
.img-pro{
    padding: 85px;
    font-weight: 500;
    color: #0067b8;
}
.a-pro-a{
    color: #0067b8;
    font-weight: 500;
    margin-top: -60px;
    margin-left: 11px;
}
.a-pro{
    color: #0067b8;
    font-weight: 500;
}
.c{
    margin-top: 25px;
    margin-left: -2px;
}
.c-c{
    margin-top: 25px;
    margin-left: 28px;
}
.c-c-c{
    margin-top: 25px;
    margin-left: 53px;
}
.c-c-c-c{
    margin-top: 25px;
    margin-left: 98px;
}

/* next section  */
.parant-prodect{
    display: flex;
    /* border: 5px solid; */
    padding: 20px;
    padding-left: 60px;
    width: 100%;
    border-radius: 5px;
    /* background-color: bisque; */
}
.imag-items{
    padding-right: 30px;
}
.imag-pro{
    width: 285px;
    height: 160px;
}
.btn-new{
    background-color: #ffb900;
    border: none;
    margin-top: 10px;
    width: 58px;
    height: 28px;
}
.sp{
    height: 10px;
}
.h3{
    margin-top: -1px;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
}
.aro-oarant{
    display: flex;
}
.learn {
    padding-top: 8px;
    color: #0067b8;
    /* font-weight: 500;
    text-decoration: none; */
}
.a-tag-learn{
    /* padding-top: 8px; */
    color: #0067b8;
    font-weight: 500;
    text-decoration: none;
}
.a-tag-learn:hover{
    text-decoration: underline;
}
.img-next-learn{
    width: 13px;
    margin-top: 7px;
    margin-left: 7px;
}

/* new section */
.parant-game{
    width: 1274px;
    padding: 67px;
    /* border: 38px solid; */
    height: inherit;
}
.img-game{
    width: 1200px;
    height: 600px;
    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Surface-Studio-Laptop-Hand-Right:VP4-1260x600);
}
.left-game-text{
    width: 470px;
    height: 258px;
    /* background-color: rgb(218, 218, 69); */
    padding: 38px;
}
.Xbox{
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
}
.texts-new{
    padding: 48px;
    padding-left: 70px;
}
.btn-new-new{
    background-color: #000000;
    font-size: medium;
    font-weight: bolder;
    color: white;
    border: none;
    /* font-size: 1rem; */
    padding: 13px;
}
.btn-learn-x{
    margin-top: 25px;
}
.btn-new-1{
    background-color: #ffffff;
    border: none;
    margin-top: 10px;
    width: 58px;
    height: 28px;
}
.h2-for-bus{
    font-size: 1.8125rem;
    margin-bottom: 1rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    padding-left: 61px;
    /* padding-top: 15px; */
}
.h2-for-bus-p{
    height: 30px;
    background-color: rgb(255, 255, 255);
}
.icon-parant{
    display: flex;
    padding-top: 30px;
    height: 160px;
}
.icons{
    width: 32px;
    aspect-ratio: auto 32 / 32;
    height: 32px;
    padding-left: 15px;
}
.p-tag{
    margin-left: 60px;
    margin-top: 6px;
}
.p-tag-follow{
    background-color: #ffffff;
    height: 30px;
}
/* last section */

.black{
    background: #f2f2f2;
    color: #616161;
    width: 100%;
    height: 350px;
    display: flex ;
}
.div-lst-row{
    margin-top: 35px;
    margin-left: 85px;
    /* background-color: #ffffff; */
}
.mm{
    text-decoration: none;
    font-size: 11px;
    color: #616161;
    word-break: break-word;  
}
.n{
    color: #000000;
    font-weight: 700;
    padding-top: 50px;
    text-decoration: none;
}
.d-a{
    padding-top: 10px;
}
.n:hover{
    text-decoration:underline;
}
.mm:hover{
    text-decoration:underline;
}
.end-div{
    display: flex;
    justify-content: flex-end;
    background: #f2f2f2;

}
.eng{
    background: #f2f2f2;
    margin-top: -44px;
    font-size: 11px;
    margin-left: 95px;
    padding-top: 27px;
}
ul li a{
    color: #000000;
    font-size: 10px;
    text-decoration: none;
}
ul li a:hover{
    text-decoration: underline;

}